body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  height: 100%;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover {
  color: rgb(136, 136, 136);
}

footer {
  display: flex;
  justify-content: center;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 2rem;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 5rem;
}

footer > img {
  width: 200px;
  margin: 0;
}
footer > p {
  margin: 0;
  padding-top: 0.7rem;
}

.dark footer {
  background-color: #333;
}

.dark footer a {
  color: #fff;
}

.dark footer a:hover {
  color: rgb(136, 136, 136);s
}

form {
  width: 320px;
  height: 100px;
  margin: auto;
}

.card {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin: 20px;
}

.card img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.card h3 {
  margin: 10px 0;
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.favButton {
  position: absolute;
  top: -25px;
  right: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 24px;
}

.favButton img.Fav {
  width: 28px;
  transition: 0.2s;
}

.favButton img.noFav {
  width: 28px;
  transition: 0.2s;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark {
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}

.dark .card {
  background-color: #333;
  color: #fff;
}

.dark h3 {
  color: #fff;
}

.toggle-button-input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.toggle-button-input:checked + .toggle-button-label {
  background: #242424;
}

.toggle-button-input:checked + .toggle-button-label:after {
  left: 69px; /* 49px * 1.4 */
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.toggle-button-input:checked + .toggle-button-label svg.sun {
  fill: #7e7e7e;
}

.toggle-button-input:checked + .toggle-button-label svg.moon {
  fill: #fff;
}

.toggle-button-input:checked
  + .toggle-button-label
  + .toggle-button-background {
  background: #242424;
}

.toggle-button-input:active:after {
  width: 36px; /* 26px * 1.4 */
}
.toggle-button-label {
  width: 70px; /* 50px * 1.4 */
  height: 28px; /* 20px * 1.4 */
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 280px; /* 200px * 1.4 */
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
  margin-left: auto;
}

.toggle-button-label:after {
  content: '';
  width: 25px; /* 18px * 1.4 */
  height: 25px; /* 18px * 1.4 */
  position: absolute;
  top: 1px;
  left: 1px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 252px; /* 180px * 1.4 */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.toggle-button-label img.sun {
  position: absolute;
  width: 16.8px; /* 12px * 1.4 */
  top: -10px; /* 4px * 1.4 */
  left: 5.6px; /* 4px * 1.4 */
  fill: #fff;
  transition: 0.2s;
  z-index: 100;
}

.toggle-button-label img.moon {
  position: absolute;
  width: 16.8px; /* 12px * 1.4 */
  top: -10px; /* 4px * 1.4 */
  left: 47.6px; /* 34px * 1.4 */
  fill: #7e7e7e;
  transition: 0.2s;
  z-index: 100;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  color: white;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  z-index: 1000;
  transition: opacity 0.5s ease;
}
.toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
}

.dark .navbar {
  background-color: #333;
}

.dark .navbar a {
  color: white;
}

.navbar img {
  height: 50px;
}

.navbar div {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar img {
    height: 30px;
  }

  .navbar div {
    flex-direction: column;
    gap: 10px;
  }
}

.detailButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.dark .detailButton {
  background-color: #333;
  color: #fff;
}

.detailButton:hover {
  background-color: #0056b3;
}

.dark .detailButton {
  background-color: #0056b3;
  color: #fff;
}

.detailButton:hover {
  background-color: #00007bff;
}

.detailTable {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
}

.detailTable th,
.detailTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.detailTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #007bff;
  color: white;
}

.dark .detailTable th {
  background-color: #333;
}

.dark .detailTable td,
.dark .detailTable th {
  color: #fff;
}

.clearButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  display: block;
  margin: 0 auto;
}

.dark .clearButton {
  background-color: #333;
  color: #fff;
}

.clearButton:hover {
  background-color: #0056b3;
}

.addFavButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  display: block;
  margin: 20px auto 0;
}

.dark .addFavButton {
  background-color: #333;
  color: #fff;
}

.addFavButton:hover {
  background-color: #0056b3;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formField {
  margin-bottom: 10px;
}

.formField label {
  display: block;
  margin-bottom: 5px;
}

.formField input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.submitButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.dark .submitButton {
  background-color: #333;
}

.submitButton:hover {
  background-color: #0056b3;
}

.contactContainer {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.contactContainer h2,
.contactContainer p {
  margin-bottom: 20px;
}

.notFoundImage {
  display: block;
  margin: 0 auto;
}

/* Loading.css */
.card-skeleton {
  width: 200px;
  height: 300px;
  background: #ccc;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.img-skeleton {
  width: 100%;
  height: 50px;
  background: #ddd;
  animation: pulse 1s infinite ease-in-out;
}

.text-skeleton {
  width: 80%;
  height: 20px;
  margin: 10px auto;
  background: #eee;
  animation: pulse 1s infinite ease-in-out;
}

.button-skeleton {
  width: 50%;
  height: 30px;
  margin: 10px auto;
  background: #ddd;
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background: #ccc;
  }
  50% {
    background: #ddd;
  }
  100% {
    background: #ccc;
  }
}

.dark .img-skeleton {
  background: #555;
}

.dark .text-skeleton {
  background: #666;
}

.dark .button-skeleton {
  background: #555;
}

@keyframes pulse-dark {
  0% {
    background: #444;
  }
  50% {
    background: #555;
  }
  100% {
    background: #444;
  }
}

.dark .img-skeleton,
.dark .text-skeleton,
.dark .button-skeleton {
  animation-name: pulse-dark;
}

.errorMessage {
  color: white;
  background-color: red;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
    width: 300px;
}

.successMessage {
  color: white;
  background-color: green;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
    width: 300px;

}

.errorMessage, .successMessage {
  /* existing styles */
  margin: 10px auto;
  display: block;
}
