body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.favButton {
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1 {
  text-align: center;
}

nav {
  display: flex;
  width: 80vw;
  justify-content: flex-start;
  padding: 1rem;
}

a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover {
  color: rgb(136, 136, 136);
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 90%;
  height: 40px;
  margin-top: 2rem;
}

footer > img {
  width: 200px;
  margin: 0;
}
footer > p {
  margin: 0;
  padding-top: 0.7rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover {
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark {
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}

.toggle-button-input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.toggle-button-input:checked + .toggle-button-label {
  background: #242424;
}

.toggle-button-input:checked + .toggle-button-label:after {
  left: 69px; /* 49px * 1.4 */
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.toggle-button-input:checked + .toggle-button-label svg.sun {
  fill: #7e7e7e;
}

.toggle-button-input:checked + .toggle-button-label svg.moon {
  fill: #fff;
}

.toggle-button-input:checked
  + .toggle-button-label
  + .toggle-button-background {
  background: #242424;
}

.toggle-button-input:active:after {
  width: 36px; /* 26px * 1.4 */
}
.toggle-button-label {
  width: 70px; /* 50px * 1.4 */
  height: 28px; /* 20px * 1.4 */
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 280px; /* 200px * 1.4 */
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
  margin-left: auto;
}

.toggle-button-label:after {
  content: '';
  width: 25px; /* 18px * 1.4 */
  height: 25px; /* 18px * 1.4 */
  position: absolute;
  top: 1px;
  left: 1px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 252px; /* 180px * 1.4 */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.toggle-button-label img.sun {
  position: absolute;
  width: 16.8px; /* 12px * 1.4 */
  top: 5.6px; /* 4px * 1.4 */
  left: 5.6px; /* 4px * 1.4 */
  fill: #fff;
  transition: 0.2s;
  z-index: 100;
}

.toggle-button-label img.moon {
  position: absolute;
  width: 16.8px; /* 12px * 1.4 */
  top: 5.6px; /* 4px * 1.4 */
  left: 47.6px; /* 34px * 1.4 */
  fill: #7e7e7e;
  transition: 0.2s;
  z-index: 100;
}

